@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Kalam&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Oswald&family=Square+Peg&family=Tapestry&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Kalam', cursive;
    background-color: white;
    color: black;
}

img{
    width: 100%;
    height: 100%
}

a{
    color: black
}